.Accordion {
    position: relative;
    height: 100%;
    max-width: 350px;
}

.question {
    font-size: 17px;
    font-weight: 400;
}

.answer {
    font-size: 12px;
    color: hsl(237, 12%, 33%);
}
