.Accordion {
    position: relative;
    height: 100%;
    width: 320px;
}

.question {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.3s;
}

.question-active {
    font-weight: 700;
}

.question:hover {
    color: hsl(14, 88%, 65%);
}

.arrow-btn {
    color: #f87958;
}

.answer {
    font-size: 12px;
    color: hsl(237, 12%, 33%);
    padding-top: 15px;
    line-height: 20px;
    transition: all 0.3s ease;
}

.accordion-element {
    padding: 15px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%, 100%;
    align-items: center;
}
