@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.App {
    height: 100vh;
    background: linear-gradient(
        to top right,
        hsl(240, 73%, 65%),
        hsl(273, 75%, 66%)
    );
}

.card {
    width: 925px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
    padding: 70px 90px 80px 0;
}

.card {
    background: url('./images/illustration-woman-online-desktop.svg') left
            center no-repeat,
        url('./images/bg-pattern-desktop.svg') left center no-repeat, #fff;
    background-size: 50%, 100%;
    background-position: -80px, -540px -270px;
    position: relative;
}

.box-img-element {
    top: 40%;
    left: -10%;
    position: absolute;
}

.accordion-block-headline {
    text-transform: uppercase;
    margin-bottom: 45px;
    color: #1e1e36;
}
